.text-overlay
{
    position: absolute;
    opacity: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container
{
    text-align: center;
    position: relative;
    color: white;
    font-size: xx-large;
}

.text-overlay:hover
{
    opacity: 100%;
}