html
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12;
}

input
{
    width: auto;
    margin: auto;
    border: 30px;
    border-radius: 10px;
}

/* Navigation Menu */
.nav-menu
{
    color: rgb(253, 28, 28);
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.nav-container
{
    margin: auto;
    margin-left: auto;
    margin-right: 100px;
    width: 55%;
}

.nav-menu li
{
    color: #000;
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 15px 4%;
    border: 1px solid #9D9FA2;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    cursor: pointer;
    transition-property: background;
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.nav-menu li:hover
{
    color: #fff;
    background-color: rgba(100, 65, 0, 0.3);
}

/* Navigation End */

/* Home  */
#home
{
    text-align: center;
    width: auto;
}
/* Home End */

/* Body  */
body
{
    background-color: #9D9FA2;
}

h2, h4
{
    text-align: center;
}

#menu
{
    margin-top: 100px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 107, 32, 0.3);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.food-menu
{
    display: -webkit-flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    padding-top: 2%;
}

.food-options > .food
{
    padding: 0 8px;
}

.food-options
{
    text-align: center;
    margin: 15px;
    width: 1100px;
    height: 250px;
    display: inline-flex;
}

.food-options::after
{
    content: "";
    display: table;
    clear: both;
}

.food
{
    float: left;
    flex: 30%;
    line-height: 0;
    overflow: hidden;
    margin: 6px;
    border-radius: 10px;
    padding: 1px;
    border: 1px solid #000000;
    background-color: rgb(229, 229, 229);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.7);
}

.food:hover
{
    box-shadow: 2px 2px 10px 0 rgba(255, 255, 255, 0.7);
}

.kid-options
{
    margin-left: 40%;
    margin-right: 60%;
    padding-bottom: 2%;
}

/* Body End */

/* Order */
#order
{
    margin-left: 45.5%;

}
/* Order End */

/* Footer */
footer
{
    text-align: center;
}

footer, nav
{
    display: block;
    margin: 5px;
}
/* Footer End */


/* #region Modal content */
.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(10, 10, 10);
}

.modal-content
{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 50%;
    max-width: auto;
}

/* Close button */
.close
{
    color: #fff;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus
{
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.myFood
{
    display: none;
}

.cursor
{
    display: none;
}

/* Next/ Prev buttons */
.prev, .next
{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next
{
    left: 0;
    margin-left: 22%;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover
{
    background-color: #999;
}

img.demo
{
    opacity: 0.6;
}

.active,
.demo:hover 
{
  opacity: 1;
}

.demo
{
    float: left;
    width: 16.66%;
    opacity: 0.6;
}


/* #endregion Modal content */